<div id="salesgraph" style="display:block; width:1000px; height:300px;"></div>
<div>
<% if !@o_years.blank? %>
<% if @order_year %><div class="ordernav">
   <select id="war_reg">
                    <% @order_year.each do |w| %>
	          	        <option value="<%= w %>"><%= w %></option>
    	         <% end %>	           
	       </select>
  <% end %>  <% 
else %>
	<div class="noorders">
<% end %> 
<div id="preloader"><img src="/images/ajax-loader-1.gif" /></div><div class="fetchorders" id="fetchorders2" style="display: inline;"><a href="/delayedjoborderfetch" onclick="showHidePreloader(true);"></a></div></div>
<% if @o_years.blank? %></div> <% end %>
<div id="orders">	
 <div id="result">
  <% if @local_orders.blank? %> 
<script type="text/javascript">
	document.getElementById('fetchorders2').style.display = 'none';
</script>
		<% if @orderscount.blank? %>
			<div><em class="note">We are fetching all yours orders now. <br /></em>
			</div>
		
		<% else %>
    	<div>You have <strong><%= @orderscount %></strong> orders which we think will take <strong><%= distance_of_time_in_words(@orderscount.div(30)+1) %> </strong> to fetch. The spinning circle will stop you when this is complete.<br />
	Don't worry we will also email you when the import has finished, so you can close this screen if you want.
	</div>
	<% end %>
  <% else %>
<% @localcurrency = session[:shopifyshop][:currency] %>
 <table>
  <tr>
    <th>Customer Group </th>
     <% @months.each do |m| %>
     <th><%= m %> </th>
      <% end %>
		<th>Total</th>
      </tr>
	<% @m = [1,2,3,4,5,6,7,8,9,10,11,12]%> 
	<% @monthtotal ||= [] %>
	<% @monthtotal[1] = 0 %>
	<% @yeartotal = 0 %>
	<% @years = {} # MOVE ABOVE%>
	<% @v_size = @local_vendors.size %>
	<% @local_vendors.each do |v| %>
	<% @fullvendorname = v.name %>
	<% @newbrandtotal = 0 %>
 
	<% @m.each do |m| %>
		<% @monthtotal[m] = 0 %>
	<% end %>
   <% @local_orders.each do |l| %>
	<%
	if params[:showtax] == 'yes' or params[:showtax].blank?
		vendortotalformonth = l.taxesincludedtotal
	else
		vendortotalformonth = l.notaxestotal
	end %>
	<% @monthtotal[l.month_list.to_i] += (vendortotalformonth).to_d    %>
   	<% if l.name == v.name %>
   		<% @m.each do |m| %>
     		<% if l.month_list == m.to_s %>
     			<% @years[v.name] ||= {}%>
     			<% @years[v.name][m] ||= [] %>
     			<% @years[v.name][m] << number_to_currency(vendortotalformonth, :unit => @localcurrency) %>
	 			<% @newbrandtotal += (vendortotalformonth).to_d  %>
	 			<% @years[v.name][13] = @newbrandtotal.to_s %>
     		<% end %>
    	<% end %>
    <% end %>
   <% end %>
  <% end # TEST END ADD %>
<% @local_vendors.each do |v| # TEST END ADD %>
<tr id="<%=url_friendly(v.name) %>">
 <th><%=v.name %></th>
     <% if !@years.blank? %> 
     	<% @years.each do |y| %>
        	<% if y[0] == v.name %>
     				<% if !y[1][1].blank? %><td><%= change_to_value(y[1][1].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][2].blank? %><td><%=change_to_value(y[1][2].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][3].blank? %><td><%=change_to_value(y[1][3].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][4].blank? %><td><%=change_to_value(y[1][4].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][5].blank? %><td><%=change_to_value(y[1][5].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][6].blank? %><td><%=change_to_value(y[1][6].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][7].blank? %><td><%=change_to_value(y[1][7].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][8].blank? %><td><%=change_to_value(y[1][8].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][9].blank? %><td><%=change_to_value(y[1][9].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][10].blank? %><td><%=change_to_value(y[1][10].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][11].blank? %><td><%=change_to_value(y[1][11].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][12].blank? %><td><%=change_to_value(y[1][12].to_s) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     				<% if !y[1][13].blank? %><td><%=number_to_currency(y[1][13],:unit => @localcurrency) %></td><%else %><td><%= number_to_currency(0,:unit => @localcurrency) %></td><% end %>
     		<% end %>
     	<% end %>
		
    <% else %>
        	<td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td><td><%= number_to_currency(0,:unit => @localcurrency) %></td>
    <% end %>
</tr> 
     <% end %>
	<tr>
		<th>Month Total</th><% @m.each do |m| %><th><%=number_to_currency(@monthtotal[m],:unit => @localcurrency) %><% @yeartotal += @monthtotal[m]%></th><% end %><th><%=number_to_currency(@yeartotal,:unit => @localcurrency) %></th>
	</tr>
  </table>
  <% end %>
  </div>
</div><p>
<% 
if @orderscount.blank?
if params[:showtax] == 'yes' or params[:showtax].blank? %>
<a href="/home?showtax=no">Show Sales Without Taxes</a>
<% else %>
<a href="/home?showtax=yes">Show Sales With Taxes</a>
<% 
end 
end

%></p>
</div>

<script type="text/javascript">
<% if !@years.blank? %> 
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'salesgraph',
            type: 'area'
         },
         title: {
            text: 'Sales By Month'
         },
         xAxis: {
            categories: [<% @months.each do |m| %>'<%= m %>',<% end %>]
         },
         yAxis: {
            title: {
               text: '<%=@localcurrency %>'
            }
         },
         series: [{
            name: 'Month Total',
            data: [<% @m.each do |m| %><%=@monthtotal[m].round(2) %>,<% end %>]
         }]
      });
	 
<% @local_vendors.each do |v| %>
	// Each Vendor
	    $('#<%=url_friendly(v.name)%>').click(function() {
			chart1.series[0].hide();
	        if (chart1.series.length > 0) {
	            chart1.addSeries({
	<% @years.each do |y| %>
		<% if y[0] == v.name %>
		 name: '<%=v.name%>',id:'<%=v.name%>',type: 'line',data: [<%=change_to_value_graph(y[1][1].to_s) %>,<%=change_to_value_graph(y[1][2].to_s) %>,<%=change_to_value_graph(y[1][3].to_s) %>,<%=change_to_value_graph(y[1][4].to_s) %>,<%=change_to_value_graph(y[1][5].to_s).to_d %>,<%=change_to_value_graph(y[1][6].to_s) %>,<%=change_to_value_graph(y[1][7].to_s) %>,<%=change_to_value_graph(y[1][8].to_s) %>,<%=change_to_value_graph(y[1][9].to_s) %>,<%=change_to_value_graph(y[1][10].to_s) %>,<%=change_to_value_graph(y[1][11].to_s) %>,<%=change_to_value_graph(y[1][12].to_s) %>]<% end %><% end %>
	});
	}
	});
	//  vendor handler end
<% end %><% end %>	

   });
</script>

<script type="text/javascript">
$('document').ready(function(){

   $('#war_reg').change(function(){
     var syear= $('#war_reg').val(); 
     	
 $.ajax({
	
  url: '/home/select_orders_of_year?year='+syear,
  success: function(data) {
   $('#result').html(data);}
});
   });

});
//var alertTimerId = 0;
<% 
unless params[:job_id].blank?
	#@job_id ||= {}
	jobid = params[:job_id]
	#@job_id.id = params[:job_id]
end
unless @job_id.blank?
	jobid = @job_id.id
end
unless jobid.blank? 
%>
showHidePreloader(true);
setTimeout("checkonjob()",4000);

function checkonjob() {
	$.get("/home/checkjob",{job_id: <%=jobid %>}, function(data){
	//alert("Data Loaded: " + data);
	if (data == 'WORKING'){
		setTimeout("checkonjob()",5000);
	//	alert("Data Loaded: " + data);
	}
	else if (data == 'ERROR'){
		alert("Sorry there was an error");
	}
	else {
		showHidePreloader(false); 
		window.location.replace("/home");
		//clearTimeout(alertTimerId);
	}
	});	
	
	
}
</script><% end %>