<div id="sidebar">
<h3><%= @orderstart.to_time.strftime('%d %b %y') %> to <%= @orderend.to_time.strftime('%d %b %y') %><span class="note"><br /><%= @orderdiff %> days </span></h3>

  <h3><%=  number_to_currency( @vend["totalsales"], :unit => "£") %></h3>
  <h3><%= (@orderactive.to_d / @orderdiff.to_d).round(1) %> orders per day</h3>
  <h3><%= @orders.size %> total orders</h3>
  <h3><%= @orderactive %> ok orders</h3>
  <h3><%= @vend["ordercancelled"] %> cancelled orders     <span class="note">(<%= number_to_percentage(@order_cancel_perc) %>)</span> </h3>
  <h3><%= @vend["ordercount"] %> items sold <span class="note"><%= (@vend["ordercount"].to_d / @orderactive.to_d).round(2) %> items per order </span></h3>

  <ul>
    <li><%= link_to 'Store Admin', 'http://www.shopify.com/developers/api/' %>
      <span class="note">Click here to back to your store admin area</span>
    </li>
  </ul>
</div>

<div id="orders">	
<h4>Sales By Brand <span class="datenote">
Date range:<%= form_tag({:action => "index"},{:class => "orderform"}) do  %>
	<%= datepicker_input "","startdate", :dateFormat => "yy-mm-dd",:size => 12, :showButtonPanel => "true" %>
	<%= datepicker_input "","enddate", :dateFormat => "yy-mm-dd",:size => 12, :showButtonPanel => "true" %>
	<%= submit_tag("Search") %>
<% end %></span>
</h4>
  <% if @orders.blank? %>  
    <em class="note">There are no orders in your store.</em>
  <% else %>

<!--<ul>-->
<table>
<% @vend = @vend.sort {|a,b,c| -1*(a[1]<=>b[1]) }  %>
<% 
	@brandcount = 0
	@vend.each do |key, value,value2| %>
<% if key != "ordercount" && key != "ordercancelled" && key != "totalsales" &&  key != "Jura Watches" then %>
<tr class="box">     
	<td><%= @brandcount %></td><td class="brand"><strong> <%= key %></strong></td><td class="price"><%= number_to_currency(value, :unit => "£") %></td><td class="price"><%= number_to_currency(value2, :unit => "£") %></td>
</tr>
<!--
<li>
       <div class="order box">
         <div class="wrapper">
           <span class="brand"><strong> <%= key %></strong></span>
           <span class="price"><%= number_to_currency(value, :unit => "£") %></span>
           <span class="highlight"></span>
           <span class="note"></span>
         </div>
       </div>
     </li> -->
 <% end %>
   <% 
	@brandcount += 1
end %>
   <!-- </ul> -->
<% end %>
<!--</div> -->
</table>
