<div id="sidebar">
  <h3>Brand Sales Report</h3>
  
  <p class="description">
   This report shows you your sales by brand from your Shopify store.
  </p>
  
  <h3>Additional documentation</h3>

  <p class="description">
    Become an expert:
  </p>

  <ul>
    <li>
      <%= link_to 'API documentation', 'http://www.shopify.com/developers/api/' %>
      <span class="note">The reference: what you can do with the Shopify API.</span>
    </li>
    <li>
      <%= link_to 'Wiki', 'http://wiki.shopify.com/' %>
      <span class="note">Get more information and share your knowledge.</span>
    </li>
    <li>
      <%= link_to 'Forum', 'http://forums.shopify.com/community' %>
      <span class="note">Ask questions and see what others already wanted to know.</span>
    </li>
  </ul>

  <h3>Once you're ready</h3>

  <p class="description">
    We'd love to see what you create using the Shopify API. 
    Find out how to share your application with the world and read the latest information on the <%= link_to 'API Publishing Page', 'http://www.shopify.com/developers/publishing/' %>.
  </p>
</div>

<div id="orders">
  <h2>Sales By Brand</h2>

  <% if @orders.blank? %>  
    <em class="note">There are no orders in your store.</em>

  <% else %>

<% vend = {"ordercount" => 0} %>

<% @orders.each do |order| %>

<% if order.financial_status = "authorized" or order.financial_status = "paid"  then %>
	<% if order.cancel_reason.blank? %>
    	<% order.line_items.each do |line_item| %>
 			<% if vend[line_item.vendor].nil? then
				vend[line_item.vendor] = (line_item.price.to_i * line_item.quantity.to_i) %>  
			<% else
				vend[line_item.vendor] += (line_item.price.to_i * line_item.quantity.to_i) %>
		<%	end
		vend["ordercount"] += line_item.quantity.to_i %>
		<% end %>
 <% end %>
    <% end %>
<% end %>
There were <strong><%= vend["ordercount"] %></strong> products sold in this period. <%= @orders.size %> orders fetched from Shopify. <br /> 

Select orders date range:


<% form_for(:user) do |f| %>
  <%= f.datepicker 'birthday' %>
  <%= f.submit 'Create' %>
<% end %>


<ul>
	<% vend = vend.sort {|a,b| -1*(a[1]<=>b[1]) }    %>
  <% 	vend.each do |key, value| %>
     <li>
       <div class="order box">
         <div class="wrapper">
           <strong> <%= key %></strong>
           <span class="price"><%= number_to_currency(value, :unit => "£") %></span>
           <span class="highlight"></span>
           <span class="note"></span>
         </div>
       </div>
     </li>
   <% end %>
   </ul>


  <% end %>
</div>
