<h1>Listing orders</h1>

<%#= render :partial=> 'search_filter' %>
<% if !@orders.blank? %>
<table>
  <tr>
    <th>Shopify Order ID</th>
    <th>Shopify Order No.</th>
    <th>Order Date</th>
    <th>No of items</th>
    <th>Price</th>
    <th>Vendor Name</th>
    <th colspan="2">Actions</th>
  </tr>
  
  
<% @orders.each do |order| %>
  <tr>
    <td><%= order.shopify_order_id %></td>
    <td><%= order.shopify_name %></td>
    <td><%= order.order_date.strftime("%m/%d/%y %I:%M%p").downcase() %></td>
    <td><%= order.no_of_items %></td>
    <td><%= order.price %></td>
    <td><%= order.vendor_name %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Delete', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  
</table>
<% else %>
 <em class="note">There are no orders in your store.</em>
<% end %>
<br />

<%#= link_to 'New Order', new_order_path %>


