<!DOCTYPE html>
<html>
<head>
  <title>Brand Sales Report - 78e</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
	
  <div id="header">
    <h1><%= link_to 'Brand Sales Report', '/' %></h1>
    
    <p id="login-link">
      <% if current_shop %>
          <span class="note">current shop</span> <%= link_to current_shop.url, "https://#{current_shop.url}", :class => 'shop_name' %> <span class="note">|</span>
          <%#= link_to 'List Orders', orders_path %><span class="note">|</span>
          <%= link_to 'logout', logout_path %>
      <% end %>
    </p>
  </div>

  <div id="container" class="clearfix">
    <ul id="tabs">
      <%= tab :index, {:controller => '/home'}, :label => 'Dashboard' %>
      <%= tab :orders, {:controller => '/orders'}, :label => 'Last 100 Orders' %>
    </ul>
    
    <!-- Flash error & notice-->
    <% if flash[:error] %> <div id="flasherrors"><%= flash[:error] %></div><% end %>
    <% if flash[:notice] %><div id="flashnotices"><%= flash[:notice] %></div><% end %>
  
    <!-- begin div.main-->
    <div id="main">
      <%= yield %>
    </div>
    <!-- end div.main -->
  </div>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/uKFB2B3OZVoRrWrpfK1ow.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</body>
</html>
